html, body {
    height: 100%;
}

body {
    background-image: url(pics/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    height: 10%;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.signup .container {
    background-color: #282828;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

h1 {
    color: #EEE9DB;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    color: #EEE9DB;
}

.input-group {
    position: relative;
}

.input-group input {
    font-family: 'Poppins', sans-serif;
    color: #EEE9DB;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    background-color: #282828;
    border: 1px solid #EEE9DB;
    border-radius: 5px;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
}

.input-group input:focus::placeholder {
    color: transparent;
}

.input-group input:focus~label,
.input-group input:valid~label{
    background-color: #282828;
    font-size: 12px;
    color: #EEE9DB;
    padding: 2px 3px;
    top: 0;
}

.submit button {
    width: 350px;
    margin: 30px 0px;
    background-color: #F9B217;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.continue-with {
    color: #EEE9DB;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.continue-with .line {
    border-bottom: 1px solid #EEE9DB;
    width: 113px;
}

.signup-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.signup-links .google,
.signup-links .github,
.signup-links .facebook {
    background-color: #EEE9DB;
    padding: 10px 30px;
    border: 2px solid #282828;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-links .google:hover,
.signup-links .github:hover,
.signup-links .facebook:hover {
    border: 2px solid #F9B217;
}

.login-container {
    color: #EEE9DB;
}

.login-container a {
    text-decoration: none;
    color: #F9B217;
}